.Home{
  
    display: flex;
    background-image: url('../../../public/image/922671.jpg');
     min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

/* h4 ,h1{
    font-family: 'Sedgwick Ave Display', cursive;
  } */
  