
.card{
    height: 175px;
    width: 100px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    padding-left: 20px;
}

.card--image{
    width: 100px;
}
.tag{
   
    width: 110px;
    /* padding: 10px 20px; */
}
p{
   font-size: small;
    margin: auto;
    padding: auto;
    
}

.add-button{
   
    padding: auto;
    height: 30px;
    width: 100px;
    border-radius: 10px 10px;
    background-color: white;
    color: rgb(51, 43, 43);
    box-shadow: 5px 5px 5px  blanchedalmond;
}