footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#1a202c;
  }
  
  ul {
	display: flex;
	list-style: none;
  }
  
  li {
	margin: 0 1rem;
	
  }
  
  a {
	color: whitesmoke;
	text-decoration: none;
  }
  
  a:hover {
	
	color: #666;
  }
  .footer-icon {
	width: 2rem;
	height: 2rem;
  }

  